<!DOCTYPE html>
<html lang="en">
<head>
<title>LIBRERIA ILIANA| LIBROS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Vegur_700.font.js"></script>
<script type="text/javascript" src="js/Vegur_400.font.js"></script>
<script type="text/javascript" src="js/Vegur_300.font.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.box1 figure{behavior:url("js/PIE.htc");}</style>
<![endif]-->
</head>
<body id="page2">
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <h1><a href="/" id="logo">LIBRERIA ILIANA</a></h1>
        <nav>
          <ul id="menu">
            <li><a href="/">INICIO</a></li>
            <li id="menu_active"><a href="/libros">VER LIBROS</a></li>
            <li><a href="/nuevo">AGREGAR LIBROS</a></li>
            
          </ul>
        </nav>
      </div>
    </header>
        <footer>
      <div class="wrapper"> <a href="/" id="footer_logo"><span>LIBRERIA </span>ILIANA</a>
      </div>
      </footer>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <br>
          <button id="v_tabla" class="btn btn-dark" type="button" onclick="getDatos()">Ver Tabla</butto><br> 
          <br>
          <div class="panel-body" id="id_tabla"></div>
          <br> 
          <br>
        </div>
      </div>
<script type="text/javascript">Cufon.now();
              function getDatos() {
                $.ajax({ 
                    type: "GET",
                    dataType: "json",
                    url: "http://localhost:8080/api/libreria/getlibros",
                    success: function(data){ 
                    var tabla ='<table class="table table-primary">';
                       tabla =tabla+'<thead>';
                       tabla =tabla+'  <tr>';
                       tabla =tabla+'    <th scope="col">Id</th>';
                       tabla =tabla+'    <th scope="col">Año de Impresión</th>';
                       tabla =tabla+'    <th scope="col">Autor</th>';
                       tabla =tabla+'    <th scope="col">Descripcion</th>';
                       tabla =tabla+'    <th scope="col">Nombre del Libro</th>';
                       tabla =tabla+'    <th scope="col">Numero de paginas</th>';
                       tabla =tabla+'    <th scope="col">Tema</th>';
                       tabla =tabla+'    <th scope="col">OP</th>';
                       tabla =tabla+'  </tr>';
                       tabla =tabla+'</thead>';
                       tabla =tabla+'<tbody>';
                            
                        for (var i = 0; i < data.length; i++) {

                           tabla =tabla+'<tr>';
                           tabla =tabla+'   <th scope="row">'+data[i].id+'</th>';
                           tabla =tabla+'   <td>'+data[i].autor+'</td>';
                           tabla =tabla+'   <td>'+data[i].tema+'</td>';
                           tabla =tabla+'   <td>'+data[i].anio+'</td>';
                           tabla =tabla+'   <td>'+data[i].pagina+'</td>';
                           tabla =tabla+'   <td>'+data[i].des+'</td>';
                           tabla =tabla+'   <td>'+data[i].name+'</td>';
               
                           tabla =tabla+'<td> <button type="button" onclick="eliminarLibro('+data[i].id+')" class="btn btn-danger">Eliminar</button></td>';
                           tabla =tabla+'</tr>';
                        }
                        tabla =tabla+'</tbody>';
                        tabla =tabla+'</table>';
                         $("#id_tabla").html(tabla);
                        
                    }
                });
            }
            
          $(document).ready(function(){
    		$("#v_tabla").click();
		  });   

       function eliminarLibro(id_libro){
	       	$.post("http://localhost:8080/api/libreria/borrarLibro", {id:id_libro}, function(htmlexterno){
	  				$("#v_tabla").click();
	   		});
       		alert(id);
       }
       
</script>
</body>
</html>